* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1220px;
    padding: 0 25px;
    margin: 0 auto;
}

/*---------header-top----------*/

header {
    min-height: 793px;
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

header a {
    text-decoration: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-weight: 600;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    position: relative;
    top: 5px;
}

.logo-name {
    font-size: 20px;
    line-height: 25px;
    margin-left: 12px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.menu-top-item {
    color: #fff;
    opacity: 0.5;
    transition: all .5s;
}

.menu-top-item:hover {
    opacity: 1;
}

.menu-top-item + .menu-top-item {
    margin-left: 50px;
}

.authorization {
    align-items: center;
    text-transform: uppercase;
}

.login {
    color: #fff;
    margin-right: 43px;
}

.sign-up {
    display: inline-block;  
}

.sign-up a {
    color: #250F8A;
    padding: 8px 43px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

/*-------header-slider---------*/

.swiper-container {
    height: 320px;
    width: 100%;
    margin-top: 141px;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.swiper-container-vertical .swiper-pagination-bullets {
    position: absolute;
    right: 0;
    top: 36%;
}

.swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 3.5px;
    width: 7px;
    height: 7px;
}

.swiper-container-vertical .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px auto;
}

.swiper-pagination-bullet-active {
    width: 15px;
    opacity: 1;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.header-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
}

.header-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
}

.header-button {
    display: inline-block;
}

.header-button a {
    color: #250F8A;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px 39px;
    background: #FFCA00;
    border-radius: 25px;
}

.header-img {
    margin-left: 66px;
    margin-right: 70px;
}

/*---------features------------*/

.features {
    margin-top: 55px;
    background-image: url(../img/rectangles-1.svg);
    background-repeat: no-repeat;
    background-position-y: 30%;
}

.features-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    color: #202020;
    text-align: center;
}

.features-list {
    display: flex;
    font-display: row;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 93px;
}

.features-item + .features-item {
    margin-left: 70px;
}

.features-item {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-img {
    margin-bottom: 23px;
}

.features-descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-subtitle {
    margin-bottom: 11px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #202020;
}

.features-text {
    color: #272727;
    opacity: 0.7;
    text-align: center;
}

/*-----------work--------------*/

.work {
    background: #F4F9FD;
    padding-top: 76px;
    padding-bottom: 55px;
    background-image: url(../img/rectangles-2.svg);
    background-repeat: no-repeat;
    background-position-y: 66%;
    background-position-x: right;
}

.work-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-content {
    max-width: 460px;
    padding-top: 60px;
    padding-left: 49px;
    background-image: url(../img/blot-1.svg);
    background-repeat: no-repeat;
    background-position: 22px 76px;
}

.work-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    color: #202020;
    padding: 68px 0 15px 0;
}

.work-text {
    color: #272727;
}

.work-text p {
    margin: 12px 0;
}

.work-item--reverse {
    padding: 76px 0 24px 0;
}

.work-item--reverse .work-content {
    order: 1;
    padding-left: 40px;
    background-image: url(../img/blot-2.svg);
    background-position: 16px 134px;
}

.work-content--last {
    padding-left: 57px;
    background-image: url(../img/blot-3.svg);
    background-position: 8px 98px;
}

/*-------testimonial-----------*/

.testimonial {
    min-height: 519px;
    background-image: url(../img/test_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 38px;
}

.testimonial-title {
    max-width: 383px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
}

.testimonial-content {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    justify-content: center;
}

.testimonial-card {
    max-width: 300px;
    padding: 35px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0 10px;
}

.card-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.card-descr {
    margin-left: 20px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.card-name {
    font-weight: 600;
}

.card-subname {
    margin-top: -3px;
    opacity: 0.5;
}

.card-quote {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: -15px;
}

.card-text {
    text-align: center;
}

/*-----------footer------------*/

footer {
    background-color: #fff;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    color: #272727;
    padding: 20px 30px 17px 30px;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    max-width: 359px;
}

.footer-link {
    display: inline-block;
    color: #272727;
    text-decoration: none;
}

.footer-link + .footer-link {
    margin-left: 30px;
}

/*--------mediaqueries----------*/

@media (max-width: 1630px) {
    .work {
        background-size: 200px;
    }
}

@media (max-width: 1510px) {
    .work {
        background-size: 150px;
        background-position-y: 69%;
    }
}

@media (max-width: 1420px) {
    .work {
        background-size: 120px;
    }
}

@media (max-width: 1300px) {
    .features {
        background-size: 120px;
    }
    .work {
        background-image: none;
    }
}

@media (max-width: 1210px) {
    .header-subtitle {
        margin-bottom: 40px;
    }
    .features {
        background-size: 80px;
    }
    .work-content {
        padding-top: 30px;
        background-position-y: 50px;
    }
    .work-item {
        justify-content: space-around;
    }
    .work-img img {
        width: 80%;
        margin-top: 20px;
    }
    .work-item:not(.work-item--reverse) .work-img {
        text-align: right;
    }
    .work-item:not(.work-item--reverse) {
        margin-left: 55px;
    }
    .work-item--reverse {
        padding: 50px 0 20px 0;
    }
    .work-item--reverse .work-content {
        background-position-y: 105px;
    }
    .work-content--last {
        background-position-y: 70px;
    }
}

@media (max-width: 1080px) { 
    .header-title {
        font-size: 35px;
        line-height: 50px;
    }   
    .header-subtitle {
        font-size: 20px;
        line-height: 45px;
        margin-bottom: 50px;
    }
    .swiper-container {
        height: 350px;
    }
    .swiper-container-vertical .swiper-pagination-bullets {
        top: 35%;
    }
    .features {
        background-image: none;
    }
    .features-item + .features-item {
        margin-left: 50px;
    }
    .work {
        padding: 30px 0 20px 0;
    }
    .work-img img {
        width: 70%;
        margin-top: 50px;
    }
    .work-img {
        max-width: 400px;
    }
    .work-item--reverse {
        padding: 30px 0 15px 0;
    }
    .work-item--reverse .work-img {
        margin-left: 40px;
    }
    .work-item--reverse .work-img img {
        margin-top: 80px;
    }
    .work-item:not(.work-item--reverse) {
        margin-left: 40px;
    }
    .work-content {
        max-width: 400px;
        padding-left: 10px;
    }
    .work-title {
        font-size: 25px;
        line-height: 35px;
        padding: 38px 0 10px 0;
    }
    .work-content {
        background-size: 160px;
        background-position: 0px 35px;
    }
    .work-item--reverse .work-content {
        background-size: 200px;
        background-position: 40px 70px;
    }
}

@media (max-width: 1039px) {
    .testimonial-content {
        flex-wrap: wrap;
    }
    .testimonial-card {
        width: 45%;
        margin: 0 15px 30px 15px;
    }
}

@media (max-width: 924px) {
    header {
        min-height: 582px;
    }
    .header-top {
        flex-wrap: wrap;
    }
    .authorization {
        width: 100%;
        text-align: right;
        margin-top: 15px;
    }
    .login {
        margin-right: 30px;
    }
    .header-img {
        display: none;
    }
    .header-content {
        margin-right: 30px;
    }
    .swiper-container {
        height: 250px;
        margin-top: 50px;
    }
    .swiper-container-vertical .swiper-pagination-bullets {
        top: 40%;
    }
    .features {
        margin-top: 40px;
    }
    .features-list {
        margin-top: 40px;
        margin-bottom: 25px;
    }
}

@media (max-width: 895px) {
    .features-list {
        flex-wrap: wrap;
    }
    .features-item + .features-item {
        margin-left: 0px;
    }
    .features-item {
        box-sizing: content-box;
        padding: 0 15px;
        margin-bottom: 30px;
    }   
}

@media (max-width: 880px) {
    .work-item {
        flex-wrap: wrap;
    }
    .work-content {
        max-width: 100%;
    }
    .work-item--reverse .work-content {
        order: 0;
    }
    .work-img img {
        width: 100%;
    }
    .work-item:not(.work-item--reverse), .work-item--reverse .work-img {
        margin-left: 0;
    }
    .work-item--reverse .work-content {
        padding-left: 0;
    }
    .work-title {
        padding-top: 0;
    }
    .work-img img, .work-item--reverse .work-img img {
        margin-top: 25px; 
    }
    .work-content {
        background-size: 100px;
        background-position: 0 5px;
    }
    .work-item--reverse .work-content {
        background-size: 150px;
        background-position: 0 25px;
    }
    .work-content--last {
        background-size: 130px;
    }
}

@media (max-width: 720px) {
    .testimonial-content {
        display: block;
    }
    .testimonial-card {
        max-width: none;
        width: 100%;
        margin: 15px auto;
    }
}

@media (max-width: 650px) {
    .footer {
        display: block;
        text-align: left;
        padding: 20px 5px 17px;
    }
    .footer-menu {
        max-width: none;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .footer-link + .footer-link {
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .header-top {
        position: relative;
    }
    .menu-list {
        display: none;
        position: absolute;
        top: 136px;
        right: 0;
        text-align: center;
        background-color: rgb(21, 118, 187, 0.99);
        z-index: 2;
        width: 100%;     
    }
    .menu-top-item + .menu-top-item {
        margin-left: 0;
        border-top: 1px solid rgb(41, 148, 201);
    }
    .menu-top-item {
        display: block;
        padding: 10px 0;
    }
    .menu-top-item:hover {
        background-color: rgb(41, 148, 201, 1);
    }
    .menu-btn {
        width: 30px;
        height: 20px;
        position: relative;
    }
    .menu-btn span {
        position: absolute;
        top: 9px;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    .menu-btn::before, .menu-btn::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }
    .menu-btn::before {
        bottom: 0;
    }
    .menu-btn::after {
        top: 0;
    }
    .menu-btn-active span {
        height: 0;
    }
    .menu-btn-active::before {
        transform: rotate(45deg);
        bottom: 9px;
    }
    .menu-btn-active::after {
        transform: rotate(-45deg);
        top: 9px;
    }
    .swiper-slide {
        z-index: 1;
    }
    .header-title {
        font-size: 30px;
        line-height: 45px;
    }   
    .header-subtitle {
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .features-title {
        font-size: 30px;
    }
    .testimonial-title {
        font-size: 30px;
        margin-bottom: -15px;
    }
    .testimonial {
        padding-top: 30px;
    }
}

@media (max-width: 458px) {
    .work-content {
        background-size: 130px;
    }
}

@media (max-width: 400px) {
    .swiper-container {
        height: 300px;
    }
    .swiper-container-vertical .swiper-pagination-bullets {
        top: 35%;
    }
}

@media (max-width: 388px) {
    .work-content {
        background-position-y: 20px;
    }
}

@media (min-width: 600px) {
    .menu-list {
        display: flex !important;
    }
}